<?xml version="1.0"?>
<launch>
  <arg name="device_uri" default=""/>
  <arg name="fps" default="240"/>
  <arg name="output" default="screen"/>

  <node name="xtion2_ros_node" pkg="xtion2_ros" type="xtion2_ros_node" output="$(arg output)">
    <param name="device_uri" value="$(arg device_uri)"/>
    <param name="fps" value="$(arg fps)"/>
  </node>
</launch>
